@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .description {
    padding: 1.5rem 2rem;

    h2 {
      margin-bottom: 1rem;
    }

    .scenarios {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .box {
        @include card;
        @include raised;
        cursor: pointer;
        max-width: 450px;

        .title {
          font-size: 20px;
          font-weight: 500;
        }

        p {
          margin: .5rem 0 0;
        }
      }
    }

    .hint {
      display: flex;
      margin: .75rem 0;

      p {
        margin: 0 0 0 .5rem;
      }

      mat-icon {
        color: $hint;
        font-size: 22px;
        height: 22px;
        width: 22px;
      }
    }

    @include mobile {
      padding: .5rem 0 1.5rem;
    }
  }

  .calculations {
    display: flex;
    margin: 0 2rem;
    @include raised;

    .sidebar {
      @include card-l;
      padding: 0;
      flex-basis: 300px;

      .bordered {
        margin: 0;
        padding: 1rem;
        border-bottom: $border;
      }

      .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        cursor: pointer;

        &.active {
          font-weight: bold;
          @include raised;
        }
      }

      .tips {
        padding: .8rem;
        font-size: 14px;
        font-weight: 300;

        a {
          text-decoration: underline;
          color: $primary;
          white-space: nowrap;
        }
      }

      &.disabled {
        opacity: .7;
        pointer-events: none;
      }
    }

    .content {
      @include card-r;

      .container {
        max-width: 1000px;

        h2 {
          margin: 1rem 0 .5rem;
        }

        p {
          margin-bottom: 1.5rem;
        }
      }
    }

    @include mobile {
      flex-direction: column;
      margin: 0;

      .sidebar {
        @include card-t;
        padding: 0;
        flex-basis: unset;
      }

      .content {
        @include card-b;
      }
    }
  }
}
