<p>available examples</p>
<div class="example-buttons">
  <div class="example" *ngFor="let example of examples">
    <div *ngIf="example.no !== current?.no; else selected">
      <button mat-stroked-button (click)="select(example)" type="button">{{ example.no }}</button>
    </div>
    <ng-template #selected>
      <button mat-raised-button (click)="select(example)" type="button" color="primary">{{ example.no }}</button>
    </ng-template>
  </div>
</div>
<p *ngIf="current" class="example-info">
  data uploaded from: {{ current.name }}
</p>
