@import "src/variables";

:host {
  form {
    .pdbid-input {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      input {
        width: 100%;
        max-width: 150px;
        padding: .5rem .75rem;
        border-radius: 5px;
        border: 1px solid $accent;

        &::placeholder {
          font-size: 16px;
        }
      }

      mat-icon {
        cursor: pointer;
        color: $accent;
        margin-left: -28px;
      }

      .pdbid-error {
        flex: 0 0 100%;
        color: $error;
        
        &:not(:empty) {
          margin-top: .5rem;
        }
      }
    }

    .file-upload {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      label {
        padding: 5px .75rem;
        border-radius: 5px;
        border: 1px solid $accent;
      }

      input[type=file] {
        display: none;
      }

      .file-name {
        margin-left: .5rem;
        color: $accent;
      }

      .file-error {
        flex: 0 0 100%;
        color: $error;

        &:not(:empty) {
          margin-top: .5rem;
        }
      }
    }
  }
}
