<form>
  <mat-radio-group [(ngModel)]="currentUploadType" (ngModelChange)="onMethodChange()" name="upload-type">
    <app-radio-button 
      label="From Protein Data Bank" 
      [value]="UploadType.FromPDB"
      [checked]="currentUploadType === UploadType.FromPDB">

        <div inline class="pdbid-input">
          <input maxlength="4" type="text" [(ngModel)]="pdbId" name="pdbId" placeholder="4 character PDB ID">
          <mat-icon *ngIf="pdbId" (click)="clearPdbIdInput()">close</mat-icon>
          <span class="pdbid-error">
            {{ pdbIdError }}
          </span>
        </div>
    </app-radio-button>

    <app-radio-button 
      label="From local file" 
      [value]="UploadType.FromLocalFile"
      [checked]="currentUploadType === UploadType.FromLocalFile">

      <div inline class="file-upload">
        <label for="file-input">Browse...</label>
        <input #fileInput type="file" (change)="uploadFile($event)" id="file-input" name="file">
        <span class="file-name">
          {{ file ? file.name : 'no file selected' }}
        </span>
        <span class="file-error">
          {{ fileError }}
        </span>
      </div>
    </app-radio-button>

    <app-radio-button 
      label="From PDBx/mmCIF example"
      [value]="UploadType.FromExample" 
      [checked]="currentUploadType === UploadType.FromExample">

      <app-example-picker [examples]="examples" (selected)="onExampleSelect($event)"></app-example-picker>
    </app-radio-button>
  </mat-radio-group>
</form>
