@import "src/variables";

:host {
  .container {
    @include card;
    @include raised;
    padding: 0;

    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 1rem 2rem;
      border-radius: 10px;

      .text {
        display: flex;
        align-items: center;
        color: $primary;

        h3 {
          margin-left: .5rem;
        }
      }

      &:hover {
        background: $backdrop;
      }

      @include mobile {
        padding: 1rem;
      }
    }

    .content {
      padding: .5rem 2rem 1rem;
      overflow: hidden;

      h2 {
        margin-bottom: .5rem;
      }

      .download-btns {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        margin-top: .7rem;
      }

      @include mobile {
        padding: .5rem 1rem 1rem;
      }
    }
  }
}
