<div class="container">
  <div class="header" (click)="toggleExpand()">
    <div class="text">
      <mat-icon>download</mat-icon>
      <h3>Download results</h3>
    </div>
    @if (!expanded) {
      <mat-icon>expand_more</mat-icon>
    }
    @if (expanded) {
      <mat-icon>expand_less</mat-icon>
    }
  </div>
  @if (expanded) {
    <div class="content" (animate.enter)="animateOpen($event)" (animate.leave)="animateClose($event)">
      <h2>Download your results</h2>
      <p>RNApdbee provides an easy way to download your calculation results. Just click “select items to download” and use
      checkboxes next to your results to choose which items should be included in downloaded file.</p>
      @if (selectable$ | async) {
        <div>
          <button mat-stroked-button (click)="selectAll()">{{ allSelected() ? 'Unselect' : 'Select' }} all data</button>
          <div class="download-btns">
            <button mat-stroked-button (click)="onDownloadClick()" [disabled]="!selected?.isAnythingSelected() || loading">
              @if (!loading) {
                Download {{ selected?.getSelectedCount() }} items
              } @else {
                <mat-progress-spinner diameter="24" mode="indeterminate" color="primary" [strokeWidth]="3"></mat-progress-spinner>
              }
            </button>
            <button mat-stroked-button (click)="disableSelect()">Cancel</button>
          </div>
        </div>
      } @else {
        <button mat-stroked-button (click)="enableSelect()">Select items to download</button>
      }
    </div>
  }
</div>
