<form>
  <mat-radio-group [(ngModel)]="currentUploadType" (ngModelChange)="onMethodChange()" name="upload-type">
    <app-radio-button 
      label="From local file (BPSEQ/CT/DBN)" 
      [value]="UploadType.FromLocalFile"
      [checked]="currentUploadType === UploadType.FromLocalFile">

      <div inline class="file-upload">
        <label for="file-input">Browse...</label>
        <input #fileInput type="file" (change)="uploadFile($event)" id="file-input" name="file">
        <span class="file-name">
          {{ file ? file.name : 'no file selected' }}
        </span>
        <span class="file-error">{{ fileError }}</span>
      </div>
    </app-radio-button>
    <app-radio-button 
  label="From Dot-bracket"
  [value]="UploadType.FromDotBracket"
  [checked]="currentUploadType === UploadType.FromDotBracket"
  (click)="onMethodChange()">
  
      <!-- <app-example-picker [examples]="dbn_examples" (selected)="onDbnExampleSelect($event)"></app-example-picker> -->

      <!-- Show textarea when Dot-bracket is selected -->
      <!-- <textarea
  *ngIf="currentUploadType === UploadType.FromDotBracket"
  rows="5"
  [(ngModel)]="dotBracketText"
  name="dotBracketText"
  placeholder="Paste your dot-bracket notation here"
  style="width: 100%; margin-top: 8px;"
></textarea> -->
<textarea
  *ngIf="currentUploadType === UploadType.FromDotBracket"
  rows="5"
  [(ngModel)]="dotBracketText"
  name="dotBracketText"
  placeholder="Paste your dot-bracket notation here"
  style="width: 100%; margin-top: 8px;"
></textarea>
<button
  *ngIf="currentUploadType === UploadType.FromDotBracket"
  type="button"
  (click)="dotBracketText = ''"
  style="margin-top: 4px; margin-bottom: 8px;"
>
  Reset
</button>
    </app-radio-button>
    <app-radio-button 
      label="From BPSEQ example"
      [value]="UploadType.FromExample" 
      [checked]="isExampleChecked(ExampleType.BpseqExample)"
      (click)="onExampleTypeChange(ExampleType.BpseqExample)">

      <app-example-picker [examples]="bpseq_examples" (selected)="onBpseqExampleSelect($event)"></app-example-picker>
    </app-radio-button>
    
    <app-radio-button 
      label="From CT example"
      [value]="UploadType.FromExample" 
      [checked]="isExampleChecked(ExampleType.CtExample)"
      (click)="onExampleTypeChange(ExampleType.CtExample)">

      <app-example-picker [examples]="ct_examples" (selected)="onCtExampleSelect($event)"></app-example-picker>
    </app-radio-button>

    <app-radio-button 
      label="From DBN example"
      [value]="UploadType.FromExample" 
      [checked]="isExampleChecked(ExampleType.DbnExample)"
      (click)="onExampleTypeChange(ExampleType.DbnExample)">

      <app-example-picker [examples]="dbn_examples" (selected)="onDbnExampleSelect($event)"></app-example-picker>
    </app-radio-button>
    
  </mat-radio-group>
</form>
