<form>
  <mat-radio-group [(ngModel)]="currentUploadType" (ngModelChange)="onMethodChange()" name="upload-type">
    <app-radio-button 
      label="From local file (BPSEQ/CT/DBN)" 
      [value]="UploadType.fromLocalFile"
      [checked]="currentUploadType === UploadType.fromLocalFile">

      <div inline class="file-upload">
        <label for="file-input">Browse...</label>
        <input #fileInput type="file" (change)="uploadFile($event)" id="file-input" name="file">
        <span class="file-name">
          {{ file ? file.name : 'no file selected' }}
        </span>
        <span class="file-error">
          {{ fileError }}
        </span>
      </div>
    </app-radio-button>

    <app-radio-button 
      label="From BPSEQ example"
      [value]="UploadType.fromExample" 
      [checked]="isExampleChecked('bpseq')"
      (click)="onExampleTypeChange('bpseq')">

      <app-example-picker [examples]="bpseq_examples" (selected)="onBpseqExampleSelect($event)"></app-example-picker>
    </app-radio-button>
    
    <app-radio-button 
      label="From CT example"
      [value]="UploadType.fromExample" 
      [checked]="isExampleChecked('ct')"
      (click)="onExampleTypeChange('ct')">

      <app-example-picker [examples]="ct_examples" (selected)="onCtExampleSelect($event)"></app-example-picker>
    </app-radio-button>

    <app-radio-button 
      label="From DBN example"
      [value]="UploadType.fromExample" 
      [checked]="isExampleChecked('dbn')"
      (click)="onExampleTypeChange('dbn')">

      <app-example-picker [examples]="dbn_examples" (selected)="onDbnExampleSelect($event)"></app-example-picker>
    </app-radio-button>
  </mat-radio-group>
</form>
