@import "src/variables";

:host {
  .container {
    padding: .5rem;
    margin: 0;

    .checkbox {
      display: flex;
      align-items: center;
      border-radius: 5px;

      mat-checkbox, .label {
        width: 100%;
        font-size: 15px;
        cursor: pointer;
        margin: 3.5px 0;
        line-height: normal;
      }

      &:has(.label) {
        &:hover {
          background: $background;
        }
      }

      .controls button {
          line-height: normal;

          &:hover {
            background: $background;
          }
        }
      }

    .content {
      overflow: auto;

      &:not(:empty) {
        margin-top: .5rem;
        margin-left: 28px;
      }
    }

    .table-view {
      overflow: auto;
      height: 310px;
      border: $border;
      border-radius: 5px;
      resize: vertical;
    }
  }
}

::ng-deep .mat-button.mat-primary .mat-button-focus-overlay {
  background: none;
}
