@import "src/variables";

:host {
  .container {
    margin: 0;

    .checkbox {
      display: flex;
      align-items: center;
      border-radius: 5px;
      margin: .1rem;
      padding: .40rem;


      mat-checkbox,
      .label {
        width: 100%;
        font-size: 15px;
        cursor: pointer;
      }

      .label {
        line-height: 24px;
      }

      &:has(.label) {
        &:hover {
          background: $background;
        }
      }

      .controls button {
        line-height: normal;

        &:hover {
          background: $background;
        }
      }
    }

    .content {
      padding: .5rem;
      overflow: auto;

      &:not(:empty) {
        margin-left: 28px;
      }
    }

    .table-view {
      overflow: auto;
      height: 310px;
      border: $border;
      border-radius: 5px;
      resize: vertical;
    }
  }
}

::ng-deep .mat-button.mat-primary .mat-button-focus-overlay {
  background: none;
}
