<div class="container">
  <div class="checkbox">
    @if (selectable$ | async) {
      <mat-checkbox [(ngModel)]="value.value" color="primary">
        {{ label }}
      </mat-checkbox>
    } @else {
      <div class="label" (click)="toggleExpand()">
        {{ label }}
      </div>
    }
    @if (showControls) {
      <div class="controls">
        @if (expanded) {
          <button mat-button color="primary" [disableRipple]="true" (click)="toggleExpand()">
            <mat-icon>keyboard_arrow_up</mat-icon>
            hide
          </button>
        } @else {
          <button mat-button color="primary" [disableRipple]="true" (click)="toggleExpand()">
            <mat-icon>keyboard_arrow_down</mat-icon>
            show
          </button>
        }
      </div>
    }
  </div>
  @if (expanded) {
    <div @openClose class="content" [class.table-view]="tableView">
      <ng-content></ng-content>
    </div>
  }
</div>
