<form>
  <mat-radio-group [(ngModel)]="currentUploadType" (ngModelChange)="onMethodChange()" name="upload-type">
    <app-radio-button 
      label="From local file" 
      [value]="UploadType.fromLocalFile"
      [checked]="currentUploadType === UploadType.fromLocalFile">

      <div inline class="file-upload">
        <label for="file-input">Browse...</label>
        <input type="file" (change)="uploadFile($event)" id="file-input" name="file">
        <span>
          {{ file ? file.name : 'no file selected' }}
        </span>
      </div>
    </app-radio-button>

    <app-radio-button 
      label="From example"
      [value]="UploadType.fromExample" 
      [checked]="currentUploadType === UploadType.fromExample">

      <app-example-picker [examples]="examples" (selected)="onExampleSelect($event)"></app-example-picker>
    </app-radio-button>
  </mat-radio-group>
</form>
