@import "src/variables";

:host {
  .map {
    resize: vertical;
    height: 600px;
    background: $white;
    position: relative;

    .external-link {
      position: absolute;
      color: $accent;
      cursor: pointer;
      z-index: 411;
      right: 10px;
      top: 10px;
    }

    .info-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 410;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .error {
      display: flex;
      align-items: center;
      color: $accent;

      mat-icon {
        margin-right: 1rem;
      }
    }
  }
}
