@if (calculationResults$ | async; as calcRes) {
  <app-tertiary-to-multi-results [calculation]="calcRes"></app-tertiary-to-multi-results>
} @else {
  @if (error) {
    <app-error [calculationId]="id" [message]="error"></app-error>
  } @else {
    <app-calculation-loading scenario="3D → multi 2D" scenarioInfo="Set of multiple secondary structures of RNA derived from its tertiary structure provided in PDB or PDBx/mmCIF file
      based on various results of intermediate processing steps." [calculationId]="id">
    </app-calculation-loading>
  }
}

