<article>
  <section>
    If you use RNApdbee in your research, please cite the following publication: <br>
    <ul style="margin-top: 12px">

      <li> J. Pielesiak, K. Niznik, P. Snioszek, G. Wachowski, M. Zurawski, M. Antczak, M. Szachniuk,
            T. Zok. (2026) RNApdbee 3.0: A unified web server for comprehensive RNA secondary structure annotation from 3D coordinates. <i>J Mol Biol 438:169795.</i> doi:<a
          href="https://doi.org/10.1016/j.jmb.2026.169795">10.1016/j.jmb.2026.169795</a></li>
    </ul>

    RNApdbee relies on several external tools for RNA structure annotation and visualization. We kindly recommend citing
    the original publications describing these tools when their functionalities contribute to your research results.
    <br>
    <br>
    Other publications related to RNApdbee and its underlying methodology include:<br>
    <ul style="margin-top: 12px">
      <li> M. Antczak, T. Zok, M. Popenda, P. Lukasiak, R.W. Adamiak, J. Blazewicz, M. Szachniuk (2014)
        RNApdbee – a webserver to derive secondary structures from PDB files of knotted and unknotted RNAs.<i>Nucleic Acids
          Rese</i> 42(W1):W368–W372. doi:<a href="https://doi.org/10.1093/nar/gku330">10.1093/nar/gku330</a>
      </li>
      <li>
        T. Zok, M. Antczak, M. Zurkowski, M. Popenda, J. Blazewicz, R.W. Adamiak, M. Szachniuk (2018)
        RNApdbee 2.0: multifunctional tool for RNA structure annotation. <i>Nucleic Acids Res</i> 46(W1):W30–W35. doi:<a
          href="https://doi.org/10.1093/nar/gky314">10.1093/nar/gky314</a>
      </li>
      <li> M. Antczak, M. Popenda, T. Zok, M. Zurkowski, R.W. Adamiak, M. Szachniuk (2018) 
        New algorithms to represent complex pseudoknotted RNA structures in dot-bracket notation.<i>Bioinformatics</i> 34(8):1304–1312. doi:<a
          href="https://doi.org/10.1093/bioinformatics/btx783">10.1093/bioinformatics/btx783</a></li>
      <li> T. Zok, J. Badura, S. Swat, K. Figurski, M. Popenda, M. Antczak (2020) New Models and Algorithms for RNA Pseudoknot Order Assignment.
        <i>Int J Appl Math Comput Sci </i>
        30(2):315–324. doi:<a href="https://doi.org/10.34768/amcs-2020-0024">10.34768/amcs-2020-0024</a></li>
      <li>T. Zok. (2021) BioCommons: A Robust Java Library for RNA Structural Bioinformatics. <i>Bioinformatics</i>
       37(17):2766–2767. doi:<a
          href="https://doi.org/10.1093/bioinformatics/btab069">10.1093/bioinformatics/btab069</a></li>
    </ul>
  </section>
</article>
