<article>
  <section>
    <h2>Citations</h2>

    Any published work which has made use of RNApdbee should cite the following paper:
    <ul>
      <li>RNApdbee 2.0: Multifunctional Tool for RNA Structure Annotation. T. Zok, M. Antczak, M. Zurkowski, M. Popenda,
        J. Blazewicz, R.W. Adamiak, M. Szachniuk. <i>Nucleic Acids Research</i>. 2018. 46(W1):W30–W35. doi:<a
          href="https://doi.org/10.1093/nar/gky314">10.1093/nar/gky314</a></li>
    </ul>

    In addition, please cite the papers of the integrated tools' authors:
    <ul>
      <li>Contact Networks in RNA: A Structural Bioinformatics Study with a New Tool. P. Roy, D. Bhattacharyya.
        <i>Journal of Computer-Aided Molecular Design</i>. 2022. 36(2):131–140. doi:<a
          href="https://doi.org/10.1007/s10822-021-00438-x">10.1007/s10822-021-00438-x</a></li>
      <li>R-Chie: A Web Server and R Package for Visualizing Cis and Trans RNA–RNA, RNA–DNA and DNA–DNA Interactions. V.
        Tsybulskyi, M. Mounir, I.M. Meyer. <i>Nucleic Acids Research</i>. 2020. 48(18):e105–e105. doi:<a
          href="https://doi.org/10.1093/nar/gkaa708">10.1093/nar/gkaa708</a></li>
      <li>RNApuzzler: Efficient Outerplanar Drawing of RNA-Secondary Structures. D. Wiegreffe, D. Alexander, P.F.
        Stadler, D. Zeckzer. <i>Bioinformatics</i>. 2019. 35(8):1342–1349. doi:<a
          href="https://doi.org/10.1093/bioinformatics/bty817">10.1093/bioinformatics/bty817</a></li>
      <li>Barnaba: Software for Analysis of Nucleic Acid Structures and Trajectories. S. Bottaro, G. Bussi, G.
        Pinamonti, S. Reißer, W. Boomsma, K. Lindorff-Larsen. <i>RNA</i>. 2019. 25(2):219–231. doi:<a
          href="https://doi.org/10.1261/rna.067678.118">10.1261/rna.067678.118</a></li>
      <li>ViennaRNA Package 2.0. R. Lorenz, S.H. Bernhart, C. Höner zu Siederdissen, H. Tafer, C. Flamm, P.F. Stadler,
        I.L. Hofacker. <i>Algorithms for Molecular Biology</i>. 2011. 6(1):26. doi:<a
          href="https://doi.org/10.1186/1748-7188-6-26">10.1186/1748-7188-6-26</a></li>
      <li>VARNA: Interactive Drawing and Editing of the RNA Secondary Structure. K. Darty, A. Denise, Y. Ponty.
        <i>Bioinformatics</i>. 2009. 25(15):1974–1975. doi:<a
          href="https://doi.org/10.1093/bioinformatics/btp250">10.1093/bioinformatics/btp250</a></li>
      <li>PseudoViewer3: Generating Planar Drawings of Large-Scale RNA Structures with Pseudoknots. Y. Byun, K. Han.
        <i>Bioinformatics</i>. 2009. 25(11):1435–1437. doi:<a
          href="https://doi.org/10.1093/bioinformatics/btp252">10.1093/bioinformatics/btp252</a></li>
      <li>FR3D: Finding Local and Composite Recurrent Structural Motifs in RNA 3D Structures. M. Sarver, C.L. Zirbel, J.
        Stombaugh, A. Mokdad, N.B. Leontis. <i>Journal of Mathematical Biology</i>. 2008. 56(1–2):215–252. doi:<a
          href="https://doi.org/10.1007/s00285-007-0110-x">10.1007/s00285-007-0110-x</a></li>
      <li>WebLogo: A Sequence Logo Generator. G.E. Crooks, G. Hon, J.-M. Chandonia, S.E. Brenner. <i>Genome
          Research</i>. 2004. 14(6):1188–1190. doi:<a href="https://doi.org/10.1101/gr.849004">10.1101/gr.849004</a>
      </li>
      <li>Tools for the Automatic Identification and Classification of RNA Base Pairs. H. Yang. <i>Nucleic Acids
          Research</i>. 2003. 31(13):3450–3460. doi:<a href="https://doi.org/10.1093/nar/gkg529">10.1093/nar/gkg529</a>
      </li>
      <li>Quantitative Analysis of Nucleic Acid Three-Dimensional Structures. P. Gendron, S. Lemieux, F. Major.
        <i>Journal of Molecular Biology</i>. 2001. 308(5):919–936. doi:<a
          href="https://doi.org/10.1006/jmbi.2001.4626">10.1006/jmbi.2001.4626</a></li>
    </ul>

    The following papers related to RNApdbee can also be cited:
    <ul>
      <li>BioCommons: A Robust Java Library for RNA Structural Bioinformatics. T. Zok. <i>Bioinformatics</i>. 2021.
        37(17):2766–2767. doi:<a
          href="https://doi.org/10.1093/bioinformatics/btab069">10.1093/bioinformatics/btab069</a></li>
      <li>New Models and Algorithms for RNA Pseudoknot Order Assignment. T. Zok, J. Badura, S. Swat, K. Figurski, M.
        Popenda, M. Antczak. <i>International Journal of Applied Mathematics and Computer Science</i>. 2020.
        30(2):315–324. doi:<a href="https://doi.org/10.34768/amcs-2020-0024">10.34768/amcs-2020-0024</a></li>
      <li>New Algorithms to Represent Complex Pseudoknotted RNA Structures in Dot-Bracket Notation. M. Antczak, M.
        Popenda, T. Zok, M. Zurkowski, R.W. Adamiak, M. Szachniuk. <i>Bioinformatics</i>. 2018. 34(8):1304–1312. doi:<a
          href="https://doi.org/10.1093/bioinformatics/btx783">10.1093/bioinformatics/btx783</a></li>
      <li>RNApdbee – a Webserver to Derive Secondary Structures from Pdb Files of Knotted and Unknotted RNAs. M.
        Antczak, T. Zok, M. Popenda, P. Lukasiak, R.W. Adamiak, J. Blazewicz, M. Szachniuk. <i>Nucleic Acids
          Research</i>. 2014. 42(W1):W368–W372. doi:<a href="https://doi.org/10.1093/nar/gku330">10.1093/nar/gku330</a>
      </li>
    </ul>
  </section>
</article>
