@import "src/variables";

:host {
  h2 {
    font-size: 1.75rem;
    margin: 1.25rem 0 1rem;  
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 1.25rem 0 1rem;
  }

  mat-divider {
    margin: 1rem 0;
  }

  a {
    color: $primary;
  }
}
