<ng-container *ngIf="output">
  <app-checkbox [(ngModel)]="value.fields.strands" label="Dot Bracket" [showControls]="true" [textView]="true" [indentation]="false">
    <div *ngFor="let strand of output.strands">
      {{ strand.name }} <br>
      {{ strand.sequence }} <br>
      {{ strand.structure }} <br> <br>
    </div>
  </app-checkbox>

  <app-checkbox [(ngModel)]="value.fields.bpSeq" label="BPSEQ" [showControls]="true" [textView]="true" [indentation]="false">
    <div *ngFor="let line of output.bpSeq">
      {{ line }} <br>
    </div>
  </app-checkbox>

  <app-checkbox [(ngModel)]="value.fields.ct" label="Ct" [showControls]="true" [textView]="true" [indentation]="false">
    <div *ngFor="let line of output.ct">
      {{ line }} <br>
    </div>
  </app-checkbox>

  <app-checkbox [(ngModel)]="value.fields.interactions" label="RNA to RNA Interactions" [showControls]="true" [textView]="true" [indentation]="false">
    <div *ngFor="let line of output.interactions">
      {{ line }} <br>
    </div>
  </app-checkbox>

  <app-checkbox [(ngModel)]="value.fields.structuralElements" label="Structural elements" [showControls]="true" [textView]="true" [indentation]="false">
    <div *ngFor="let line of output.structuralElements.stems">
      Stem {{ line }} <br>
    </div>
    <div *ngFor="let line of output.structuralElements.loops">
      Loop {{ line }} <br>
    </div>
    <div *ngFor="let line of output.structuralElements.singleStrands">
      Single strand {{ line }} <br>
    </div>
    <div *ngFor="let line of output.structuralElements.singleStrands5p">
      Single strand 5' {{ line }} <br>
    </div>
    <div *ngFor="let line of output.structuralElements.singleStrands3p">
      Single strand 3' {{ line }} <br>
    </div>
  </app-checkbox>
</ng-container>
