@import "src/variables";

:host {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem;

  .step-wrapper {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;

    padding: .5rem;
    border-radius: 50%;
    border: $border;

    .step-value {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .header-wrapper {
    width: 100%;
    font-size: 16px;
    margin-left: .5rem;
    border-bottom: $border;
    padding-bottom: 5px;
  }
}
