@import "src/variables";

:host {
  .active {
    font-weight: bold;
  }

  .header {
    @include card-b;
    height: $navbar-height;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    padding: .5rem 2rem;

    .title {
      display: flex;
      align-items: center;
      cursor: pointer;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        height: 40px;
        width: 50px;
        margin-right: 1rem;

        img {
          width: 100%
        }
      }

      h1 {
        margin: 0;
        font-size: 20px;
        line-height: 25px;
      }

      h3 {
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        color: $accent;
      }
    }

    nav {
      display: flex;
      margin-left: auto;

      .item {
        font-size: 16px;
        white-space: nowrap;
        margin: 0 1rem;
      }
    }

    .hamburger {
      display: none;
      align-items: center;
      margin-left: auto;
      padding-left: .5rem;

      mat-icon {
        width: 40px;
        height: 40px;
        font-size: 40px;
      }
    }
  }

  .mobile-menu {
    display: none;
  }


  @include mobile {
    .header {
      height: $navbar-height-mobile;
      padding: .5rem 1rem;

      nav {
        display: none;
      }

      .hamburger {
        display: flex;
      }
    }

    .mobile-menu-container {
      position: relative;

      .mobile-menu {
        @include card-b;
        display: block;
        position: absolute;
        z-index: 2;
        overflow: hidden;
        top: -10px;

        nav {
          display: flex;
          flex-direction: column;
          align-items: center;

          .item {
            font-size: 20px;
            margin: .5rem auto;
          }
        }
      }
    }
  }
}
