@import "src/variables";

:host {
  form {
    margin: 1rem auto;

    .clearable-input {
      display: flex;
      align-items: center;

      input {
        padding: .5rem .75rem;
        border-radius: 5px;
        border: 1px solid $accent;
      }

      mat-icon {
        cursor: pointer;
        color: $accent;
        margin-left: -28px;
      }
    }

    .file-upload {
      label {
        padding: .5rem .75rem;
        border-radius: 5px;
        border: 1px solid $accent;
      }

      input[type=file] {
        display: none;
      }

      span {
        margin-left: .5rem;
        color: $accent;
      }
    }

    .submit {
      margin: 1rem 0;

      button {
        padding: 0 3rem;
      }
    }
  }
}
