<div class="container">
  <div class="item no-description">
    <img src="/assets/logo-rnapolis.svg">
  </div>
  <div class="item">
    <img src="/assets/logo-pp.svg">
    <div class="description">
      <a href="http://www2.cs.put.poznan.pl/en/">Institute of Computing Science</a><br>
      <a href="https://www.put.poznan.pl/en/">Poznan University of Technology</a>
    </div>
  </div>
  <div class="item">
    <img src="/assets/logo-ichb.png">
    <div class="description">
      <a href="https://www.ibch.poznan.pl/en.html">Institute of Bioorganic Chemistry</a><br>
      <a href="https://institution.pan.pl/">Polish Academy of Sciences</a>
    </div>
  </div>
</div>
