@if (interactions && interactions.length > 0) {
  <app-checkbox [(ngModel)]="value" [label]="label" [tableView]="true">
    <div class="filter">
      <input [(ngModel)]="filterValue" type="text" name="filter" placeholder="Search...">
      @if (filterValue) {
        <mat-icon (click)="filterValue = ''">close</mat-icon>
      }
    </div>
    <div class="table-container">
      <mat-table [dataSource]="dataSource" matSort>
        @for (column of displayedColumns; track column; let isFirst = $first) {
          <ng-container [matColumnDef]="column"
            [sticky]="isFirst">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ interactionColumns[column].header }} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ interactionColumns[column].cell(element) }} </mat-cell>
          </ng-container>
        }
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <div class="no-data-row" *matNoDataRow>
          @if (filterValue) {
            <span>
              No data matching the filter "{{ filterValue }}"
            </span>
          } @else {
            No data to show
          }
        </div>
      </mat-table>
    </div>
  </app-checkbox>
}
