@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;

  .title {
    padding: 1.5rem 0;

    h2 {
      margin: 0;

      &:not(:empty) {
        margin: .5rem 0;
      }
    }

    .info {
      strong {
        font-weight: 500;
      }

      button {
        color: $primary;
        padding: 0;
        line-height: 15px;
        font-size: 1rem;
        font-weight: 400;

        mat-icon {
          font-size: 15px;
          height: 15px;
          width: 15px;
        }
      }
    }
  }

  .reanalyze, .download {
    margin-top: 1rem;
  }

  .results {
    .result {
      margin-top: 1rem;
      @include raised;
    }
  }

  @include mobile {
    padding: 1rem;
  }
}
