@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;

  .title {
    padding: 1.5rem 0; 

    h2 {
      margin: 0;
      &:not(:empty) {
        margin-top: .5rem;
      }
    }
  }

  .top-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    button {
      background: $white;
      padding: .2rem 1rem;
      @include raised;
    }

    .info {
      display: flex;

      p {
        margin: 0 0 0 .5rem;
      }

      mat-icon {
        color: $accent;
        font-size: 20px;
        height: 20px;
        width: 20px;
      }
    }
  }

  .reanalyze {
    margin-top: 1rem;
  }

  .results {
    .result {
      margin-top: 1rem;
      @include raised;
    }
  }

  @include mobile {
    padding: 1rem;
  }
}
