@import "src/variables";

:host {
  .page {
    padding: 2.5rem 3rem;
    display: flex;
    flex-direction: column;
  
    h2 {
      margin-bottom: 1rem;
    }

    .container {
      @include raised;
      @include card;
      display: flex;
      padding: 3rem 1rem;
      justify-content: center;

      .content {
        max-width: 800px;
      }
    }

    @include mobile {
      padding: 1rem;
      
      .container {
        padding: 1rem;
      }
    }
  }
}
