@use "src/variables" as *;

:host {
  .page {
    padding: 2.5rem 3rem;
    display: flex;
    flex-direction: column;
  
    h2 {
      margin-bottom: 1rem;
    }

    .container {
      @include raised;
      @include card;
      display: flex;
      padding: 1rem 1rem 2rem;
      justify-content: center;

      .content {
        max-width: 1300px; //800px
      }
    }

    @include mobile {
      padding: 1rem;
      
      .container {
        padding: 1rem;
      }
    }
  }

  .cite-us-align-left {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    display: block;
  }
  .cite-us-align-center {
    text-align: center;
    margin-left: 0;
    margin-right: auto;
    display: block;
  }
}
