@import "src/variables";

:host {
  form {
    margin: 1rem auto;

    .submit {
      display: flex;
      justify-content: flex-end;
      margin: 1rem 0;

      button {
        padding: 0 3.5rem;
      }
    }
  }
}
