<app-step [value]="1">Upload RNA base pair list</app-step>
<app-secondary-upload-form (uploadChange)="onUploadMethodChange($event)">
</app-secondary-upload-form>

<app-secondary-to-dbn-params-form [startWith]="2" (paramChange)="onParamsChange($event)">
</app-secondary-to-dbn-params-form>

<mat-divider></mat-divider>

<div class="submit">
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!isValid() || loading">
    <div class="btn-content">
      <span *ngIf="!loading; else spinner">Run</span>
      <ng-template #spinner>
        <mat-spinner [diameter]="20"></mat-spinner>
      </ng-template>
    </div>
  </button>
</div>