<ng-container *ngIf="(loading$ | async) !== true; else loading">
  <app-step [value]="1">Upload RNA base pair list</app-step>
  <app-secondary-upload-form (uploadChange)="onUploadMethodChange($event)">
  </app-secondary-upload-form>

  <app-secondary-to-dbn-params-form [startWith]="2" [params]="params" (paramChange)="onParamsChange($event)">
  </app-secondary-to-dbn-params-form>

  <mat-divider></mat-divider>

  <app-submit-button [callback]="calculateCallback" [disabled]="!isValid()"
    (buttonSubmit)="onSubmit($event)"></app-submit-button>
</ng-container>

<ng-template #loading>
  <app-request-loading></app-request-loading>
</ng-template>
