<!-- TODO: fill this with real content -->
<section>
  <h2 id="general-info">General information</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem sint nisi quibusdam minima aliquam itaque obcaecati, facere, expedita velit unde similique eius? Optio sequi quaerat voluptatem. Minus, quasi ipsum?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo odit architecto corporis aspernatur obcaecati perspiciatis ipsum laborum, quis possimus nesciunt ea ullam dolorem voluptates eaque aperiam vitae assumenda consequatur iste.</p>
</section>

<mat-divider></mat-divider>

<section>
  <h2 id="how-to-use">How to use RNApdbee</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem sint nisi quibusdam minima aliquam itaque obcaecati, facere, expedita velit unde similique eius? Optio sequi quaerat voluptatem. Minus, quasi ipsum?</p>

  <h3 id="3d-scenario"> 3D → (....) </h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo odit architecto corporis aspernatur obcaecati perspiciatis ipsum laborum, quis possimus nesciunt ea ullam dolorem voluptates eaque aperiam vitae assumenda consequatur iste.</p>

  <h3 id="2d-scenario"> 2D → (....) </h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo odit architecto corporis aspernatur obcaecati perspiciatis ipsum laborum, quis possimus nesciunt ea ullam dolorem voluptates eaque aperiam vitae assumenda consequatur iste.</p>
</section>
