@import "src/variables";

:host {
  
  .container {
    padding: .5rem;
    margin: .5rem .5rem .5rem 34px;
    border-radius: $border-radius;

    .radio {
      display: flex;
      align-items: center;

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .inline:not(:empty) {
          margin-top: .5rem;
          margin-left: 28px;
        }
      }

      mat-radio-button {
        font-size: 16px;
      }

      .inline {
        pointer-events: none;
        opacity: .5;
      }

      & > * {
        flex: 1;
      }
    }

    .content {
      overflow: hidden;
      
      &:not(:empty) {
        margin-top: .5rem;
        margin-left: 28px;
      }
    }
  }

  .active {
    background: $backdrop;

    .radio .inline {
      pointer-events: all;
      opacity: 1;
    }
  }
}

::ng-deep .mat-radio-label {
  white-space: unset !important;
}
