<form [formGroup]="paramsForm">
  <app-step [value]="getStepNumber(1)">During base pair identification</app-step>
  <mat-checkbox color="primary" formControlName="includeNonCanonical">Include non-canonical base pairs</mat-checkbox>
  <mat-checkbox color="primary" formControlName="removeIsolated">Remove isolated, canonical base pairs</mat-checkbox>

  <app-step [value]="getStepNumber(2)">Visualize secondary structure using</app-step>
  <mat-radio-group formControlName="visualizationTool">
    <app-radio-button *ngFor="let item of VISUALIZATION_TOOL" [value]="item.key" [label]="item.label"
      [checked]="paramsForm.value.visualizationTool === item.key">
    </app-radio-button>
  </mat-radio-group>
</form>
