@import "src/variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 { font-size: 1.5rem; font-weight: 500; }
h2 { font-size: 1.25rem; font-weight: 400; }
h3 { font-size: 1rem; font-weight: 400; }
p, ul, ol { font-size: 1rem; font-weight: 300; }
a, a:hover, a:active, a:visited { text-decoration: none; color: inherit; }

@include mobile {
  h2 { font-size: 1rem; font-weight: 400; }
}
