@import "src/variables";

html { height: 100%; scroll-behavior: smooth; }
body {
  height: 100%;
  margin: 0;
  background: $background;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1 { font-size: 1.5rem; font-weight: 500; margin: 0;}
h2 { font-size: 1.25rem; font-weight: 400; margin: 0;}
h3 { font-size: 1rem; font-weight: 400; margin: 0;}
p, ul, ol { font-size: 1rem; font-weight: 300; margin: 0 0 .75rem; }
a, a:hover, a:active, a:visited { text-decoration: none; color: inherit; }
.mat-divider { border-top-color: $border-color; }

.snack-error {
  background-color: $error;
  color: $white;

  .mat-simple-snackbar-action {
    color: $white;
  }
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-checkbox-label {
  margin-bottom: -1px;
}
