$white: #FFF;
$black: #000;

$backdrop: #F9F6F6;
$border-color: #C4C4C4;
$primary: #5D5FEF;
$accent: #676666;

$border: 1px solid $border-color;
$border-radius: 10px;

@mixin mobile {
  @media (max-width: 769px) {
    @content;
  }
}

// layout is desktop-first so this is only for special cases
@mixin desktop {
  @media (min-width: 770px) {
    @content;
  }
}

@mixin card {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 2rem;
  border: $border;
  border-radius: $border-radius;
  background-color: $white;
}

@mixin card-b {
  @include card();
  border-radius: 0px 0px $border-radius $border-radius;
  margin-top: -1px;
}

@mixin card-t {
  @include card();
  border-radius: $border-radius $border-radius 0px 0px;
  margin-bottom: -1px;
}

@mixin card-r {
  @include card();
  border-radius: 0px $border-radius $border-radius 0px;
  margin-left: -1px;
}

@mixin card-l {
  @include card();
  margin-right: -1px;
  border-radius: $border-radius 0px 0px $border-radius;
}

@mixin card-x {
  @include card();
  border-radius: 0px 0px 0px 0px;
}
