@import "src/variables";

:host {
  h2 {
    margin-bottom: 1rem;
  }

  a:hover {
    text-decoration: underline;
    color: $primary;
  }

  .entries {
    display: flex;
    flex-direction: column;

    .entry-container {
      display: flex;
      flex-direction: column;
      margin-bottom: .5rem;

      & * {
        margin-bottom: 4px;
      }

      .subentry {
        font-weight: 300;
      }
    }
  }
}
