<app-step [value]="1">Upload RNA 3D structure</app-step>
<app-tertiary-upload-form (uploadChange)="onUploadMethodChange($event)">
</app-tertiary-upload-form>

<app-tertiary-to-multi-params-form [startWith]="2" (paramChange)="onParamsChange($event)">
</app-tertiary-to-multi-params-form>

<mat-divider></mat-divider>

<div class="submit">
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!isValid() || loading">
    <div class="btn-content">
      <span *ngIf="!loading; else spinner">Run</span>
      <ng-template #spinner>
        <mat-spinner [diameter]="20"></mat-spinner>
      </ng-template>
    </div>
  </button>
</div>
