@import "src/variables";

:host {
  font-size: 14px;
  position: relative;

  mat-icon {
    cursor: pointer;
  }

  .container:hover {
    & .legend {
      display: flex;
    } 
  }

  .legend {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 2000;
    left: 0;
    background: $white;
    border: $border;
    border-radius: 10px;

    .row {
      text-align: center;
      display: grid;
      grid-template-columns: minmax(120px, 1fr) minmax(180px, 2fr);

      border-bottom: $border;

      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px .5rem;

        &:first-child {
          border-right: $border;
        }
      }

      .symbol {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 800;
      }
    }

    .row:last-of-type {
      border-bottom: none;
    }

    @include mobile {
      right: 0;
      left: auto;

      .row {
        grid-template-columns: repeat(2, minmax(120px, 1fr));
      }
    }
  }
}
