@import "src/variables";

:host{
  .container {
    @include card;
    padding-top: 2rem;

    &:has(.select-btn) {
      padding-top: 1.5rem;
    }

    .select-btn {
      margin-bottom: 1rem;
    }

    .description {
      display: flex;
      align-items: center;
  
      app-weblogo-legend {
        margin-left: .5rem;
      }
    }

    @include mobile {
      padding: 1rem;
    }
  }
}
